/* dm-sans-regular - latin */

@font-face {
     font-family: 'DM Sans';
     font-style: normal;
     font-weight: 400;
     src: local('DM Sans Regular'), local('DMSans-Regular'), url('fonts/dm-sans-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('fonts/dm-sans-v4-latin-regular.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-700 - latin */

@font-face {
     font-family: 'DM Sans';
     font-style: normal;
     font-weight: 700;
     src: local('DM Sans Bold'), local('DMSans-Bold'), url('fonts/dm-sans-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('fonts/dm-sans-v4-latin-700.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}